/* car top */
#left{
    height:150px;
    width:200px;
    background-color:red;
    margin-top:100px;
    border-radius:310px 0px 0px 90px;
    box-shadow: 10px 20px 10px black;
}
#center{
    height:250px;
    width:250px;
    background-color:red;
    border-radius: 100px 50px 0px 0px;
    box-shadow: 10px 20px 10px black;
}
#right{
    height:150px;
    width:200px;
    background-color:red;
    margin-top:100px;
    border-radius:0px 310px 0px 0px;
    box-shadow: 10px 20px 10px black;
}
#glass1{
    background-color: aquamarine;
    height: 70px;
    width: 90px;
    position:relative;
    left:10%;
    border:5px solid black;
    border-radius:100px 0px 0px 0px;
    margin-top: 15px;
    

}
#glass2{
    background-color: aquamarine;
    height:68px;
    width:85px ;
    position:relative;
    bottom: 35%;
    margin-top: 10px;
    border:5px solid black;
    border-radius: 0px 45px 0px 0px;
    left:55%;
    

}
 #light{
     background-color: whitesmoke;
     height: 25px;
     width: 65px;
     border:8px solid black;
     border-radius:0px 1400px 0px 900px ;
     position:absolute;
     left:530px;
     
 }
#top{
    display:flex;

} 
#light:hover{
    background-color: yellow;
    box-shadow: 0px 0px 50px yellow;
}

/*  car bottom */
#lwheel{
    background-color:black;
    height: 150px;
    width:150px;
    border-radius: 50%;
    margin-left:80px;
    position: absolute;
    bottom:20%;
    

}
#rwheel{
    background-color:black;
    height: 150px;
    width:150px;
    border-radius: 50%;
    position: absolute;
    left:31%;
    bottom:20%;   
}
#lline{
    background-color: gray;
    height:100px;
    width:100px;
    border-top:solid 5px white;
    border-right: solid 5px white;
    border-radius: 100%;
    position:relative;
    left:15%;
    top:17%;
    

}
#rline{
    background-color: gray;
    height:100px;
    width:100px;
    border-top:solid 5px white; 
    border-right: solid 5px white;
    border-radius: 100%;
    position:relative;
    left:15%;
    top:17%;
    
 }
@keyframes wheel { 
    from{rotate: 0deg;}
    to{rotate: 360deg;}
 } 


/* background*/
.road{  
    background-color: black;
    height:45px;
    display:block ;
    margin-top:4%;

}
#green{
    background-color: green;
    height:70px;
    width: 100%;
    display:block;
}
  
 
body{
    background-color:skyblue;
}

h1{
    background-color: darkblue;
    color:whitesmoke;
    text-align: center;
    box-shadow: 0px 20px 90px darkblue;
} 
.car{ 
    margin-top: 2%;
}
#sun{
    margin-left:1000px;
    background-color: rgb(255, 192, 1);
    height: 70px;
    width: 70px;
    border-radius: 100px;
    box-shadow: 0px 0px 50px yellow;
    /* animation:sunn 4s linear infinite; */
}


@keyframes sunn{
    from{margin-left: 1000px;}
    to{margin-left: -30px;}

}

/* BUTTON */
#srt{
    width: 150px;
    background-color: white;
    position: absolute;
    left:80%;
    top: 35%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px green;

}
#srt:hover{
    background-color: lightgreen;
}

#fast{
    width: 150px;
    background-color: white;
    position: absolute;
    left:80%;
    top: 50%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px red ;

}
#fast:hover{
    background-color: red;
}

#slow{
    width: 150px;
    background-color: white;
    position: absolute;
    left:80%;
    top: 65%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px orange;

}

#slow:hover{
    background-color: orange;
}

@media screen and (max-width:500px){
    
#sun{
    margin-left:280px;
    background-color: rgb(255, 192, 1);
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0px 0px 50px yellow;

}


@keyframes sunn{
    from{margin-left: 280px;}
    to{margin-left: -30px;}

}

#srt{
    width: 150px;
    background-color: white;
    position: absolute;
    left:30%;
    top: 55%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px black;
    background-color: lightgreen;

}
#fast{
    width: 150px;
    background-color: white;
    position: absolute;
    left:30%;
    top: 67%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px black;
    background-color: lightcoral;

}
#slow{
    width: 150px;
    background-color: white;
    position: absolute;
    left:30%;
    top: 80%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 20px black;
    background-color: yellow;
}






 #left{
    height:50px;
    width:75px;
    background-color:red;
    margin-top:100px;
    border-radius:310px 0px 0px 90px;
    box-shadow: 10px 10px 5px black;
}
#center{
    height:90px;
    width:100px;
    background-color:red;
    border-radius: 100px 80px 0px 0px;
    box-shadow: 10px 10px 5px black;
   margin-top: 60px; 
}
#right{
    height:50px;
    width:75px;
    background-color:red;
    margin-top:100px;
    border-radius:0px 310px 0px 0px;
    box-shadow: 10px 10px 5px black;
}
#glass1{
    background-color: aquamarine;
    height: 20px;
    width: 30px;
    position:relative;
    left:14%;
    border:3px solid black;
    border-radius:100px 0px 0px 0px;
    margin-top: 15px;
    

}
#glass2{
    background-color: aquamarine;
    height:20px;
    width:30px ;
    position:relative;
    bottom: 40%;
    margin-top: 10px;
    border:3px solid black;
    border-radius: 0px 45px 0px 0px;
    left:55%;
    

}
#top{
    display:flex;

 } 
 
 #light{
     background-color: whitesmoke;
     height: 12px;
     width: 20px;
     border:1px solid black;
     border-radius:0px 1400px 0px 900px ;
     position:absolute;
     left:220px;
     
 } 
#light:hover{
    background-color: yellow;
    box-shadow: 0px 0px 50px yellow;
}


#lwheel{
    background-color:black;
    height: 70px;
    width:70px;
    border-radius: 50%;
    position: absolute;
    bottom:53%;
    left:-40px;

    

}
#rwheel{
    background-color:black;
    height: 70px;
    width:70px;
    border-radius: 50%;
    position: absolute;
    left:160px;
    bottom:53%;   
}
#lline{
    background-color: gray;
    height:40px;
    width:40px;
    border-top:solid 5px white;
    border-right: solid 5px white;
    border-radius: 100%;
    position:relative;
    left:15%;
    top:17%;
    

}
#rline{
    background-color: gray;
    height:40px;
    width:40px;
    border-top:solid 5px white; 
    border-right: solid 5px white;
    border-radius: 100%;
    position:relative;
    left:15%;
    top:17%;
    
 }
@keyframes wheel { 
    from{rotate: 0deg;}
    to{rotate: 360deg;}
 } 

 
#green{
    background-color: green;
    height:490px;
    width: 100%;
    display:block;
}
  

h1{
    background-color: darkblue;
    color:whitesmoke;
    text-align: center;
    box-shadow: 0px 20px 90px darkblue;
    /* width:400px; */
}

}




